@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";
@import url('http://fonts.cdnfonts.com/css/clash-display');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');

body {
  font-family: 'Poppins', sans-serif;
}

html,
body {
  scroll-behavior: smooth;
  overflow-x: hidden;
}

.specialfont {
  font-family: 'Clash Display', sans-serif;
}

.NavbarItems {
  height: 80px;
  width: 100%;
}

.nav-menu2 {
  background: white;
  backdrop-filter: blur(0px);
  border-radius: 13px;
  padding: 80px 0 30px 0;
  margin-top: 0;
  transition: all 0.4s ease-in-out;
}

.mytext {
  color: #50a153;
  background-image: -webkit-linear-gradient(0deg, #50a153 22%, #ffffff 42%, #a061ed 73%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.transform-img {
  outline: 3px solid rgba(255, 255, 255, .75);
  border-radius: 16.058px;
  transform: matrix(0.98, 0, -0.19, 1, 0, 0);
  position: relative;
  z-index: 1;
}

.img-belowbox {
  background-color: rgba(255, 255, 255, 0.25);
  transform: matrix(0.98, 0, -0.19, 1, 0, 0);
  border-radius: 16.058px;
  position: relative;
}

.img-belowbox2 {
  background-color: rgba(255, 255, 255, 0.25);
  position: absolute;
  letter-spacing: 10px;
}

.img-above {
  background-color: rgba(255, 255, 255, 0.5);
  transform: matrix(0.98, 0, -0.19, 1, 0, 0);
  border-radius: 10.058px;
}

.bordercolor {
  border-image: -webkit-linear-gradient(0deg, #50a153 22%, #ffffff 42%, #a061ed 73%) 20;
}

.bgcolor {
  background-color: rgba(255, 255, 255, 0.1);
}

.slide {
  transform: scale(0.5);
  transition: transform 300ms;
  opacity: .6;
}

.activeSlide {
  transform: scale(1.1);
  opacity: 1;
}

.collect button {
  display: none;
}


.glasseffect {
  background: rgba(255, 255, 255, 0.04);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.7);
  backdrop-filter: blur(1px);
  -webkit-backdrop-filter: blur(1px);
  border-bottom: 1px solid rgba(255, 255, 255, 0.6);
}


.scrollbarnone {
  /* IE and Edge */
  scrollbar-width: none;
  /* Firefox */
}

.scrollbarnone::-webkit-scrollbar {
  display: none;
}





/*  */


/* account setting */
